.App {
  text-align: right;
  direction: rtl;
}

.App-logo {
  animation: App-logo-spin infinite 2.5s linear;
  height: 50px;
  pointer-events: none;
}

.particles {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.background {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18;
  color: white;
  text-align: center;
}
.column {
  display: flex;
  flex-direction: column;
}

.search-bar {
  background-color: #1b1e24;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

.row {
  display: flex;
  flex-direction: row;
  z-index: 2;
}


.footer {
  background-color: #1b1e24;
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inputStyle {
  height: 32px;
  width: 250px;
  text-align: right;
  color: #0d47a1;
  font-size: 16px;
  padding: 4px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border: none;
  padding-right: 18px;
  padding-left: 18px;
  box-shadow: 0px 0px 12px #000;
}

.buttonStyle {
  height: 40px;
  color: #fff;
  background-color: #0d47a1;
  border: 0px;
  cursor: grabbing;
  font-size: 16px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-right: 18px;
  padding-left: 18px;
  box-shadow: 0px 0px 12px #000;
}

.linkStyle {
  color: #64b5f6;
  text-decoration: none;
  font-size: 16px;
}

.anim {
  animation-name: hidden;
  animation-duration: 2s;
}

@keyframes hidden {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}